@import "reset.css";

body{
    text-align: center;
}

canvas{
    display: block;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hardbtn{
    margin-top: 20px;
    display: inline-block;
    color: white;
    border: none;
    background-color: #343a40;
    padding: 8px 15px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    border-radius: 5px;
    outline: none;
}

.hardbtn:active{
    transform: scale(0.9);
    background-color: #59636e;
}

.btns{
    margin-top: 15px;
    text-align: center;
}

.colorbtn{
    display: inline-block;
    padding: 0;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    cursor: pointer;
}